---
import Icon from '../Icon/Icon.astro'
import './ThemeToggle.css'

import lightModeIcon from '~icons/material-symbols/wb-sunny-outline?raw'
import darkModeIcon from '~icons/material-symbols/dark-mode-outline?raw'
---

<button id="theme-toggle" class="theme_toggle u_reset_button u_pressable" type="button" aria-label="Toggle theme">
  <span class="theme_toggle-icon" data-theme-icon="light">
    <Icon content={lightModeIcon} width="20" height="20" aria-hidden="true" />
  </span>
  <span class="theme_toggle-icon" data-theme-icon="dark">
    <Icon content={darkModeIcon} width="20" height="20" aria-hidden="true" />
  </span>
</button>

<script src="./ThemeToggle.ts"></script>
