---
import '../styles/reset.css'
import '../styles/theme.css'
import '../styles/layout.css'
import '../styles/utils.css'
import '../styles/generics.css'
import '../styles/fonts.css'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/dm-serif-display-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/geist-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>
  <body class="root_layout">
    <main class="root_layout-main">
      <slot />
    </main>
  </body>
</html>
